<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rozezka Parser</title>
  </head>
  <body>
    <h1>Rozetka Parser</h1>
    <form method="post">
      <label for="url">Enter the URL to parse:</label><br>
      <input type="text" id="url" name="url" value="https://rozetka.com.ua/ua/notebooks/c80004/"><br><br>
      <label for="num_items">Enter the number of items to parse:</label><br>
      <input type="text" id="num_items" name="num_items" value="10"><br><br>
      <input type="submit" value="Parse">
    </form>
  </body>
</html>
